@import './base.css';

#app {
 width: 100%;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }

  .nav-link {
  transition: transform 0.5s ease; /* Smooth transition for the transform property */
    max-width: min-content;
}

.nav-link:hover {
  transform: scale(1.1); /* Grow the nav item on hover */
  background: transparent;
}
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
